.center {
	text-align: center;
}

/* 
.highlight {
	color: red;
	background: #ddd;
}
 */

ul {
	padding:0;
}

li {
	list-style: none;
	padding:	0;
	text-align: left;
	height: 3em;
	overflow: hidden;
	text-overflow: hidden;
}

li.leaf, li.collapsed, li.expanded {
	list-style-image: none;
}

table.center {
	margin-left:auto; 
	margin-right:auto;
}

img {
	max-width: 100%; 
	height: auto;
	width: 150px;
}
