.center {
	text-align: center;
}

ul{
	column-count: 1;
	-moz-column-count: 1;
	-webkit-column-count: 1;

	column-gap: 2em;
	-webkit-column-gap: 2em;
	-moz-column-gap: 2em;
}

li {
	list-style: none;
	padding:0;
	text-align: left;
}

li.leaf, li.collapsed, li.expanded {
	list-style-image: none;
}

table.center {
	margin-left:auto; 
	margin-right:auto;
}

img{
	max-width: 100%; 
	height: auto;
	width: 150px;
}
